FindaVenue/force-app/main/default/flows/Bill_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Total</name>
        <label>Assign Total</label>
        <locationX>264</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>totalInvAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Bills.TotalFormula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>netInvoiceAmt</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Bills.Net_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invVATAmt</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Bills.VAT__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Bills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lead_0</name>
        <label>Update Lead</label>
        <locationX>176</locationX>
        <locationY>923</locationY>
        <assignmentItems>
            <assignToReference>uLead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>uLead.Total_Bill_Net__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>netInvoiceAmt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>uLead.Total_Bill_Gross__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalInvAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>uLead.Total_Bill_VAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invVATAmt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>New_or_Updated</name>
        <label>New or Updated</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Bills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEWFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Bills</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ISNEWFormula</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Bill Create Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bill Create Update</label>
    <loops>
        <name>Loop_Bills</name>
        <label>Loop Bills</label>
        <locationX>176</locationX>
        <locationY>623</locationY>
        <collectionReference>Get_Bills</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Lead_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Bills</name>
        <label>Get Bill</label>
        <locationX>176</locationX>
        <locationY>515</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Bills</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <inputReference>uLead</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_or_Updated</targetReference>
        </connector>
        <object>Bill__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>invVATAmt</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>netInvoiceAmt</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>totalInvAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>uLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
