FindaVenue/force-app/main/default/flows/Copy_Event_Fields_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Contacts</name>
        <label>Assign Contacts</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Leads.ConvertedContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Events</name>
        <label>Assign Events</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>CreateEvent.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Leads.EventRecordType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Date_Enquired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Date_Enquired__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Event_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Event_Day__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Company_or_Private__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Company_or_Private__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Food__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Food__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Internal_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Internal_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Number_of_People__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Number_of_People__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Privacy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Privacy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Venue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Venue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Preferred_Event_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Preferred_Event_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Party_Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Party_Start_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Payment_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Event_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>companyNameFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.HomePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Agreed_Rates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Agreed_Rates__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Deposit_Venue_Requests__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Deposit_Venue_Requests__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Projected_Commission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Net_Spend_total__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.estimated_Commisson_due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.estimated_Commisson_due__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Deposit_we_request_total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Deposit_we_request_total__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Deposit_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Deposit_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.How_they_paid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.How_they_paid__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Event_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Event_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.specific_venue_requirements__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.specific_venue_requirements__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Customer_additional_venues_proposal_info__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Customer_additional_venues_proposal_info__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Invoice_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Invoice_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Enquiry_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Enquiry_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.system_activity_comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.system_activity_comment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Skip_or_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Skip_or_Error__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.What_to_do_next_what_they_said_last__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.What_to_do_next_what_they_said_last__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Last_date_contacted_date_booked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Last_date_contacted_date_booked__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Number_of_People__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Number_of_People__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Internal_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Internal_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Date_Enquired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Date_Enquired__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Event_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Event_Day__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Client_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Client_Potential__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Type_of_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Event_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Landline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Landline__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Trigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Trigger__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Test_Only__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Test_Only__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Follow_up_in_months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Follow_up_in_months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Extra_Info__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Extra_Info__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Food__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Food__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Party_Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Party_Start_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Privacy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Privacy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Room_hire_willing_to_pay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Room_hire_willing_to_pay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Budget_for_food_and_drink__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Budget_for_food_and_drink__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Location_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Location_Requested__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Type_of_venue_call_back__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Type_of_venue_call_back__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Room_layout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Room_layout__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Outcome__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Date_Time_Of_Meeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Date_Time_Of_Meeting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Date_Called__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Date_Called__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Number_of_times_called__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Number_of_times_called__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.New_Contact_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.New_Contact_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.New_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.New_Contact_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Venue2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Venue2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Winning_Venue_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Winning_Venue.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Event_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventDateTimeFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.Enquired_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>enquiredDateTimeFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateEvent.EmailV1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Events</targetReference>
        </connector>
    </assignments>
    <description>10-06-2021 (17:00) - Miko</description>
    <formulas>
        <name>companyNameFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Account.IsPersonAccount}=false,{!Get_Account.Name},
{!Get_Contacts.Company__c})</expression>
    </formulas>
    <formulas>
        <name>enquiredDateTimeFormula</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!Get_Contacts.Date_Enquired__c} )+(11/24)</expression>
    </formulas>
    <formulas>
        <name>eventDateTimeFormula</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE( {!Get_Contacts.Event_Day__c} )+(11/24)</expression>
    </formulas>
    <interviewLabel>Copy Event Fields V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy Event Fields V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Events</name>
        <label>Create Events</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <inputReference>CreateEvent</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Winning_Venue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contacts.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IsPersonAccount</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get 	Contacts</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Leads</name>
        <label>Get Leads</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadsId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Winning_Venue</name>
        <label>Get Winning Venue</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contacts.Venue2__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Venue__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Leads</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event__c</objectType>
    </variables>
    <variables>
        <name>LeadsId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>winningVenue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Venue__c</objectType>
    </variables>
</Flow>
