FindaVenue/force-app/main/default/flows/Event_Venue_Selection_Email_Proposal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Event_Venues_Email_Holding</name>
        <label>Send Event Venues Email Holding</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <actionName>SendEventVenuesEmailInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Holding_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmails</name>
            <value>
                <elementReference>SelectedContactEmail1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>recipientId_fm</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>venueIds</name>
            <value>
                <elementReference>Transform_Selected_Venues_to_Ids</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEventVenuesEmailInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Event_Venues_Email_Proposal</name>
        <label>Send Event Venues Email Proposal</label>
        <locationX>402</locationX>
        <locationY>1214</locationY>
        <actionName>SendEventVenuesEmailInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Selected_Venues</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Proposal_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientEmails</name>
            <value>
                <elementReference>SelectedContactEmail1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>recipientId_fm</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>venueIds</name>
            <value>
                <elementReference>Transform_Selected_Venues_to_Ids</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEventVenuesEmailInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Email_to_Collection</name>
        <label>Assign Email to Collection</label>
        <locationX>358</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>SelectedContactEmail1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SelectedContactEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Contacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Related_Person_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Selection_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>490</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>EventVenues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>uEventVenue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Venues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_EventVenues</name>
        <label>Update EventVenues</label>
        <locationX>490</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>uEventVenue.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Venues.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>uEventVenue.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Evaluating</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>B2B</name>
        <choiceText>B2B</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B2B</stringValue>
        </value>
    </choices>
    <choices>
        <name>B2C</name>
        <choiceText>B2C</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B2C</stringValue>
        </value>
    </choices>
    <choices>
        <name>HoldingChoice</name>
        <choiceText>Holding</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Holding</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProposalChoice</name>
        <choiceText>Proposal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proposal</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Which_Email_Option</name>
        <label>Which Email Option</label>
        <locationX>358</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Holding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_Email_you_wanted_to_send_out</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Holding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Holding_Email_Template</targetReference>
            </connector>
            <label>Holding</label>
        </rules>
        <rules>
            <name>Proposal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_Email_you_wanted_to_send_out</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Proposal_Email_Template</targetReference>
            </connector>
            <label>Proposal</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ContactChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Account.Id</elementReference>
            </value>
        </filters>
        <limit>1</limit>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>SelectedContactEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PersonAccountChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>1</limit>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>SelectedContactEmail</assignToReference>
            <field>PersonEmail</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>recipientId_fm</name>
        <dataType>String</dataType>
        <expression>IF({!Is_the_Client_B2B_or_B2C} = {!B2B}, {!SelectedContactId}, {!SelectedAccountId})</expression>
    </formulas>
    <interviewLabel>Event Venue Selection &amp; Email Proposal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event Venue Selection &amp; Email Proposal</label>
    <loops>
        <name>Loop_Selected_Venues</name>
        <label>Loop Selected Venues</label>
        <locationX>402</locationX>
        <locationY>1322</locationY>
        <collectionReference>SelectedVenues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_EventVenues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Proposed_Venues</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Venues_to_Propose</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Holding_Email_Template</name>
        <label>Get Holding Email Template</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Event_Venues_Email_Holding</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proposal_VF_Template_Updated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Event_Venues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Proposal_Email_Template</name>
        <label>Get Proposal Email Template</label>
        <locationX>402</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Event_Venues_Email_Proposal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OpportunityProposalTemplate</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Event_Venues</name>
        <label>Get Related Event Venues</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event_Venues__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Proposed_Venues</name>
        <label>Update Proposed Venues</label>
        <locationX>402</locationX>
        <locationY>1730</locationY>
        <inputReference>EventVenues</inputReference>
    </recordUpdates>
    <screens>
        <name>Email_Selection_Screen</name>
        <label>Email Selection Screen</label>
        <locationX>358</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_Email_Option</targetReference>
        </connector>
        <fields>
            <name>Which_Email_you_wanted_to_send_out</name>
            <choiceReferences>HoldingChoice</choiceReferences>
            <choiceReferences>ProposalChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which Email you wanted to send out?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Contact</name>
        <label>Select Contact</label>
        <locationX>358</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Email_to_Collection</targetReference>
        </connector>
        <fields>
            <name>Is_the_Client_B2B_or_B2C</name>
            <choiceReferences>B2B</choiceReferences>
            <choiceReferences>B2C</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is the Client B2B or B2C?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Related_Contacts</name>
            <choiceReferences>ContactChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Related Contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_the_Client_B2B_or_B2C</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>B2B</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Related_Person_Account</name>
            <choiceReferences>PersonAccountChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Related Person Account</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_the_Client_B2B_or_B2C</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>B2C</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Venues_to_Propose</name>
        <label>Select Venues to Propose</label>
        <locationX>358</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Transform_Selected_Venues_to_Ids</targetReference>
        </connector>
        <fields>
            <name>DisplayVenues</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Event_Venues__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Related_Event_Venues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Venue_Name__c&quot;,&quot;guid&quot;:&quot;column-999e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Venue Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-10bc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Proposed_Costs__c&quot;,&quot;guid&quot;:&quot;column-e2fe&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Proposed Costs&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedVenues</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&amp;lt;p&amp;gt;Dear Client,&amp;lt;/p&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;p&amp;gt;Please see our recommended venues below:&amp;lt;/p&amp;gt;&lt;/p&gt;&lt;p&gt;{!vFinalTableHTML}&lt;/p&gt;&lt;p&gt;&amp;lt;p&amp;gt;Let us know which you prefer.&amp;lt;/p&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;p&amp;gt;Best regards,&amp;lt;br/&amp;gt;The FAV Team&amp;lt;/p&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <transforms>
        <name>Transform_Selected_Venues_to_Ids</name>
        <label>Transform Selected Venues to Ids</label>
        <locationX>358</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Select_Contact</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>SelectedVenues[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>EventVenues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event_Venues__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedContactEmail1</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedVenues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event_Venues__c</objectType>
    </variables>
    <variables>
        <name>uEventVenue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event_Venues__c</objectType>
    </variables>
    <variables>
        <name>vFinalTableHTML</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTableRows</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
