FindaVenue/force-app/main/default/flows/Event_Venue_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignOpp</name>
        <label>Assign Opp</label>
        <locationX>143</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Get_Opp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confirming</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opp.Winning_Venue2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Venue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_or_Update</name>
        <label>Create or Update</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Status_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Found</name>
        <label>Opp Found</label>
        <locationX>275</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_URL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Opp_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignOpp</targetReference>
            </connector>
            <label>Yes Opp Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Change</name>
        <label>Status Change</label>
        <locationX>473</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_Url2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Selected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_0</targetReference>
            </connector>
            <label>Selected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Event Venue Create Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event Venue Create Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opp</name>
        <label>Get Opp</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_or_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_URL</name>
        <label>Copy 1 of Update URL</label>
        <locationX>407</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Jotform_URL__c</field>
            <value>
                <elementReference>JotformURL</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>143</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_URL</targetReference>
        </connector>
        <inputReference>Get_Opp</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_0</name>
        <label>Update Opp</label>
        <locationX>275</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Opp_Found</targetReference>
        </connector>
        <inputAssignments>
            <field>selected__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_URL</name>
        <label>Update URL</label>
        <locationX>143</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>Jotform_URL__c</field>
            <value>
                <elementReference>JotformURL</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Url2</name>
        <label>Update Url</label>
        <locationX>671</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Jotform_URL__c</field>
            <value>
                <elementReference>JotformURL</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opp</targetReference>
        </connector>
        <object>Event_Venues__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>JotformURL</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>https://jotform.com/251274882977069?eventvenueid={!$Record.Id}&amp;amp;amp;eventDate={!Get_Opp.Event_Day__c}&amp;amp;amp;eventTime={!$Record.EventTimeFormula__c}&amp;amp;amp;numberOf={!Get_Opp.Number_of_People__c}&amp;amp;amp;eventType={!Get_Opp.Event_Type1__c}&amp;amp;amp;selectedFood={!$Record.Selected_Food_Option__c}&amp;amp;amp;barbequePrice={!$Record.VenueAccount__r.Barbeque_Price__c}&amp;amp;amp;canapesPrice={!$Record.VenueAccount__r.Canapes_Price__c}&amp;amp;amp;fingerFood={!$Record.VenueAccount__r.Fingerfood_Price__c}&amp;amp;amp;sitDown={!$Record.VenueAccount__r.Sit_Down_Dinner_Price__c}&amp;amp;amp;venueRequirements={!Get_Opp.Specific_Venue_Requirements__c}&amp;amp;amp;lunchPrice={!$Record.Lunch_Price__c}&amp;amp;amp;buffetPrice={!$Record.Buffet_Price__c}&amp;amp;amp;bowlFood={!$Record.Bowl_Food_Price__c}</text>
    </textTemplates>
    <variables>
        <name>EventTimeText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
