FindaVenue/force-app/main/default/flows/EventVenueCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Availability_Email</name>
        <label>Send Availability Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@findavenue.ie</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X9O0000064nxxUAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Main_Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Email</name>
        <label>Assign Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Main_Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_has_main_contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_has_main_contact</name>
        <label>Check if has main contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_main_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Main_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Availability_Email</targetReference>
            </connector>
            <label>has main contact</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>EventVenueCreate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EventVenueCreate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Event_Venue</name>
        <label>Get Event Venue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event_Venues__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Main_Contact</name>
        <label>Get Main Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Event_Venue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.VenueAccount__r.Main_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp</name>
        <label>Get Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Main_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Event_Venue</name>
        <label>Update Event Venue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Barbeque_Price__c</field>
            <value>
                <elementReference>Get_Event_Venue.VenueAccount__r.Barbeque_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bowl_Food_Price__c</field>
            <value>
                <elementReference>Get_Event_Venue.Bowl_Food_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buffet_Price__c</field>
            <value>
                <elementReference>Get_Event_Venue.Buffet_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canapes_Price__c</field>
            <value>
                <elementReference>Get_Event_Venue.VenueAccount__r.Canapes_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fingerfood_Price__c</field>
            <value>
                <elementReference>Get_Event_Venue.VenueAccount__r.Fingerfood_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jotform_URL__c</field>
            <value>
                <elementReference>JotFormURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lunch_Price__c</field>
            <value>
                <elementReference>Get_Event_Venue.Lunch_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sit_Down_Dinner_Price__c</field>
            <value>
                <elementReference>Get_Event_Venue.VenueAccount__r.Sit_Down_Dinner_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Event_Venue</targetReference>
        </connector>
        <object>Event_Venues__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>JotFormURL</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>https://jotform.com/251274882977069?eventvenueid={!$Record.Id}&amp;amp;amp;eventDate={!Get_Opp.Event_Day__c}&amp;amp;amp;eventTime={!$Record.EventTimeFormula__c}&amp;amp;amp;numberOf={!Get_Opp.Number_of_People__c}&amp;amp;amp;eventType={!Get_Opp.Event_Type1__c}&amp;amp;amp;selectedFood={!$Record.Selected_Food_Option__c}&amp;amp;amp;barbequePrice={!$Record.VenueAccount__r.Barbeque_Price__c}&amp;amp;amp;canapesPrice={!$Record.VenueAccount__r.Canapes_Price__c}&amp;amp;amp;fingerFood={!$Record.VenueAccount__r.Fingerfood_Price__c}&amp;amp;amp;sitDown={!$Record.VenueAccount__r.Sit_Down_Dinner_Price__c}&amp;amp;amp;venueRequirements={!Get_Opp.Specific_Venue_Requirements__c}&amp;amp;amp;lunchPrice={!$Record.VenueAccount__r.Lunch_Price__c}&amp;amp;amp;buffetPrice={!$Record.VenueAccount__r.Buffet_Price__c}&amp;amp;amp;bowlFood={!$Record.VenueAccount__r.Bowled_Food_Price__c}</text>
    </textTemplates>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
