FindaVenue/force-app/main/default/flows/Follow_Up_Events_On_Event_Day.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_Follow_Up_Event_5_Days</name>
        <label>Alert_Follow Up Event 5 Days</label>
        <locationX>314</locationX>
        <locationY>408</locationY>
        <actionName>Event__c.Follow_Up_Event_5_Days</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>EmailStatustoFollowUpEvent5Days</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Event__c.Follow_Up_Event_5_Days</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Follow_Up_Email_7_Days_before_Event_Enquired</name>
        <label>Email Alert)Follow-Up Email 7 Days before Event Enquired</label>
        <locationX>2426</locationX>
        <locationY>408</locationY>
        <actionName>Event__c.Follow_Up_Email_7_Days_before_Event_Enquired</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>EmailStatustoAyearafterEnquiredDate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Event__c.Follow_Up_Email_7_Days_before_Event_Enquired</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Follow_Up_Event_1_Month</name>
        <label>Email Alert_Follow_Up_Event_1_Month</label>
        <locationX>1370</locationX>
        <locationY>408</locationY>
        <actionName>Event__c.Follow_Up_Event_1_Month</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>EmailStatustoFollow_Up_1_Month</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Event__c.Follow_Up_Event_1_Month</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Follow_Up_Event_3_Days</name>
        <label>Email Alert_Follow_Up_Event_3_Days</label>
        <locationX>842</locationX>
        <locationY>408</locationY>
        <actionName>Event__c.Follow_Up_Event_3_Days</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>EmailStatustoFollowUpEvent3Days</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Event__c.Follow_Up_Event_3_Days</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Follow_Up_Event_3_Months</name>
        <label>Email Alert_Follow_Up_Event_3_Months</label>
        <locationX>1898</locationX>
        <locationY>408</locationY>
        <actionName>Event__c.Follow_Up_Event_3_Months</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>EmailStatustoFollow_Up_3_Months</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Event__c.Follow_Up_Event_3_Months</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>EnquiredDayPlus358DaysEqualtoCurrentDate</name>
        <label>Enquired Day Plus 358 Days Equal to Current Date</label>
        <locationX>2558</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_EnquiredDayPlus358DaysEqualtoCurrentDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>enquiredDatePlus358</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enquired_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_Follow_Up_Email_7_Days_before_Event_Enquired</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>EventDayPlus30DaysEqualtoCurrentDate</name>
        <label>Event Day Plus 30 Days Equal to Current Date</label>
        <locationX>1502</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_EventDayPlus30DaysEqualtoCurrentDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>eventDayPlus30</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_Follow_Up_Event_1_Month</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>EventDayPlus90DaysEqualtoCurrentDate</name>
        <label>Event Day Plus 90 Days Equal to Current Date</label>
        <locationX>2030</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_EventDayPlus90DaysEqualtoCurrentDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>eventDayPlus90</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_Follow_Up_Event_3_Months</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Event_Passed</name>
        <label>Has Event Passed?</label>
        <locationX>446</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Event_in_Future</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Day__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_Follow_Up_Event_5_Days</targetReference>
            </connector>
            <label>Event in Future</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsEventDayPlus3DaysEqualtoCurrentDate</name>
        <label>Is Event Day Plus 3 Days Equal to Current Date</label>
        <locationX>974</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_EventDayPlus3DaysEqualtoCurrentDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>eventDayPlus3Days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_Follow_Up_Event_3_Days</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>enquiredDatePlus358</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Date_Enquired__c}+358</expression>
    </formulas>
    <formulas>
        <name>eventDayPlus30</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Event_Day__c}+30</expression>
    </formulas>
    <formulas>
        <name>eventDayPlus3Days</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Event_Day__c}+3</expression>
    </formulas>
    <formulas>
        <name>eventDayPlus90</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Event_Day__c}+90</expression>
    </formulas>
    <interviewLabel>Follow Up Events On Event Day {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Follow Up Events On Event Day</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Event</name>
        <label>Get Event</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>EmailStatustoAyearafterEnquiredDate</name>
        <label>Email Status to A year after Enquired Date</label>
        <locationX>2426</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>Email_Status__c</field>
            <value>
                <stringValue>Follow Up - A year after Enquired Date</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>EmailStatustoFollow_Up_1_Month</name>
        <label>Email Status to Follow_Up_1_Month</label>
        <locationX>1370</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>Email_Status__c</field>
            <value>
                <stringValue>Follow Up Event 1 Month</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>EmailStatustoFollow_Up_3_Months</name>
        <label>Email Status to Follow_Up_3_Months</label>
        <locationX>1898</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>Email_Status__c</field>
            <value>
                <stringValue>Follow Up Event 3 Months</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>EmailStatustoFollowUpEvent3Days</name>
        <label>Email Status to Follow Up Event 3 Days</label>
        <locationX>842</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>Email_Status__c</field>
            <value>
                <stringValue>Follow Up Event 3 Days</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>EmailStatustoFollowUpEvent5Days</name>
        <label>Email Status to Follow Up Event 5 Days</label>
        <locationX>314</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>Email_Status__c</field>
            <value>
                <stringValue>Follow Up Event 5 Days</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Event</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event_Date_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X5_Days_120_Hours_Before_Event_Time</name>
            <connector>
                <targetReference>Has_Event_Passed</targetReference>
            </connector>
            <label>5 Days (120 Hours) Before Event Time</label>
            <offsetNumber>-120</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Event_Date_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X3_Days_72_Hours_After_Event_Time</name>
            <connector>
                <targetReference>IsEventDayPlus3DaysEqualtoCurrentDate</targetReference>
            </connector>
            <label>3 Days (72 Hours) After Event Time</label>
            <offsetNumber>72</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Event_Date_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X30_Days_720_Hours_After_Event_Time</name>
            <connector>
                <targetReference>EventDayPlus30DaysEqualtoCurrentDate</targetReference>
            </connector>
            <label>30 Days (720 Hours) After Event Time</label>
            <offsetNumber>720</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Event_Date_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X90_Days_2160_Hours_After_Event_Time</name>
            <connector>
                <targetReference>EventDayPlus90DaysEqualtoCurrentDate</targetReference>
            </connector>
            <label>90 Days (2160 Hours) After Event Time</label>
            <offsetNumber>2160</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Event_Date_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X358_Days_8592_Hours_After_Date_Enquired</name>
            <connector>
                <targetReference>EnquiredDayPlus358DaysEqualtoCurrentDate</targetReference>
            </connector>
            <label>358 Days (8592 Hours) After Date Enquired</label>
            <offsetNumber>8592</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Enquired_Date_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
