FindaVenue/force-app/main/default/flows/Invoice_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Total</name>
        <label>Assign Total</label>
        <locationX>264</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>totalInvAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Invoices.TotalFormula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>netInvoiceAmt</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Invoices.Net_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invVATAmt</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Invoices.VATFormula__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Invoices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lead_0</name>
        <label>Update Lead</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>uLead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>uLead.Total_Invoice_Net__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>netInvoiceAmt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>uLead.Total_Invoice_Gross__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalInvAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>uLead.TotalInvoiceVAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invVATAmt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Invoice Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice Delete</label>
    <loops>
        <name>Loop_Invoices</name>
        <label>Loop Invoices</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <collectionReference>Get_Invoices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Lead_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Invoices</name>
        <label>Get Invoices</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Invoices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>176</locationX>
        <locationY>803</locationY>
        <inputReference>uLead</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Invoices</targetReference>
        </connector>
        <object>Invoice1__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>invVATAmt</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>netInvoiceAmt</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>totalInvAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>uLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
