FindaVenue/force-app/main/default/flows/Select_Venues.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Search_Events_Dynamically</name>
        <label>Search Events Dynamically</label>
        <locationX>176</locationX>
        <locationY>1040</locationY>
        <actionName>SearchVenueInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_Venues</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>capacity</name>
            <value>
                <elementReference>NumberOfPeople</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventLocation</name>
            <value>
                <elementReference>Event_Location</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventScenario</name>
            <value>
                <elementReference>Event_Scenarios</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quantityMax</name>
            <value>
                <elementReference>Quality_Max1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quantityMin</name>
            <value>
                <elementReference>Quality_Min1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>venueType</name>
            <value>
                <elementReference>Venue_Type</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SearchVenueInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>PotentialAccountLists</assignToReference>
            <name>accountRecList</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Venue</name>
        <label>Add Venue</label>
        <locationX>264</locationX>
        <locationY>1472</locationY>
        <assignmentItems>
            <assignToReference>eventVenuesForCreation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>nEventVenue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Venues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_Venue</name>
        <label>Copy 1 of Add Venue</label>
        <locationX>132</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>eventVenuesForCreation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>nEventVenue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Event_Venues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Create_OppVenue</name>
        <label>Copy 1 of Create OppVenue</label>
        <locationX>132</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>nEventVenue.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEventVenue.VenueAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedSingleVenue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEventVenue.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shortlisted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEventVenue.Barbeque_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Account.Barbeque_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEventVenue.Canapes_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Account.Canapes_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEventVenue.Fingerfood_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Account.Fingerfood_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEventVenue.Sit_Down_Dinner_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Account.Sit_Down_Dinner_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEventVenue.Selected_Food_Option__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Food_Option</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEventVenue.Lunch_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Account.Lunch_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEventVenue.Bowl_Food_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Account.Bowled_Food_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEventVenue.Buffet_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Account.Buffet_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_Venue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_OppVenue</name>
        <label>Create OppVenue</label>
        <locationX>264</locationX>
        <locationY>1364</locationY>
        <assignmentItems>
            <assignToReference>nEventVenue.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEventVenue.VenueAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Venues.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEventVenue.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shortlisted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nEventVenue.Selected_Food_Option__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Food_Option</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Venue</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Apply_Filter</name>
        <choiceText>Apply Filter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Apply Filter</stringValue>
        </value>
    </choices>
    <choices>
        <name>Barbeque</name>
        <choiceText>Barbeque</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Barbeque</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bowl_Food</name>
        <choiceText>Bowl Food</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bowl Food</stringValue>
        </value>
    </choices>
    <choices>
        <name>Buffet</name>
        <choiceText>Buffet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Buffet</stringValue>
        </value>
    </choices>
    <choices>
        <name>Canapes</name>
        <choiceText>Canapes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canapes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Finger_Food</name>
        <choiceText>Finger Food</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Finger Food</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lunch</name>
        <choiceText>Lunch</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lunch</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_Venue</name>
        <choiceText>Single Venue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single Venue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sit_Down_Dinner</name>
        <choiceText>Sit Down Dinner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sit Down Dinner</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Filter_or_Single_Selection</name>
        <label>Filter or Single Selection</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Venues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Filter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_select_single_a_Venue_or_apply_a_filter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Apply_Filter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Venues</targetReference>
            </connector>
            <label>Filter</label>
        </rules>
        <rules>
            <name>Single_VenueDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_select_single_a_Venue_or_apply_a_filter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Single_Venue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Account</targetReference>
            </connector>
            <label>Single Venue</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>EventLocationPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Location_Requested__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EventScenariosChoiceSet</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Event_Scenarios__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EventType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Event_Type1__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>QualityPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Quality_Of_Venue_1_Highest__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SingleSelectVenues</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VenueTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Event_Types__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VenueTypePicklist1</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Venue_Type__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VenueTypePicklist2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Venue_Type_New__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Select Venues {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Select Venues</label>
    <loops>
        <name>Loop_Selected_Venues</name>
        <label>Loop Selected Venues</label>
        <locationX>176</locationX>
        <locationY>1256</locationY>
        <collectionReference>SelectedVenues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_OppVenue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Event_Venues</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Event_Venues</name>
        <label>Create Event Venues</label>
        <locationX>176</locationX>
        <locationY>1664</locationY>
        <inputReference>eventVenuesForCreation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VenueInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Account</name>
        <label>Get Selected Account</label>
        <locationX>132</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Create_OppVenue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedSingleVenue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Venues</name>
        <label>Get Venues</label>
        <locationX>176</locationX>
        <locationY>932</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Search_Events_Dynamically</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QualityFormula__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Quality_Min1</elementReference>
            </value>
        </filters>
        <filters>
            <field>QualityFormula__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Quality_Max1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_Venues</name>
        <label>Display Venues</label>
        <locationX>176</locationX>
        <locationY>1148</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Selected_Venues</targetReference>
        </connector>
        <fields>
            <name>VenueList</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Venue List</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>PotentialAccountLists</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-7d27&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Entire_Venue_Capacity__c&quot;,&quot;guid&quot;:&quot;column-6ea7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Entire Venue Capacity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Theatre_Capacity__c&quot;,&quot;guid&quot;:&quot;column-ace0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Theatre Capacity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Banquet_Capacity_double__c&quot;,&quot;guid&quot;:&quot;column-a92b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Banquet Capacity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Reception_Standing_Capacity__c&quot;,&quot;guid&quot;:&quot;column-bafa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Reception Standing Capacity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Area__c&quot;,&quot;guid&quot;:&quot;column-fde9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Area&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quality_Of_Venue_1_Highest__c&quot;,&quot;guid&quot;:&quot;column-88d6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Quality Of Venue (1 Highest)&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedVenues</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>VenueInfo</name>
        <label>VenueInfo</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Filter_or_Single_Selection</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_select_single_a_Venue_or_apply_a_filter</name>
            <choiceReferences>Single_Venue</choiceReferences>
            <choiceReferences>Apply_Filter</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to select a single Venue or apply a filter?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SelectSingleVenue</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>VenueAccount__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Event_Venues__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Single Venue</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedSingleVenue</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_select_single_a_Venue_or_apply_a_filter</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Single_Venue</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VenueInfo_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VenueInfo_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NumberOfPeople</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Opportunity.Number_of_People__c</elementReference>
            </defaultValue>
            <fieldText>Number Of People</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_select_single_a_Venue_or_apply_a_filter</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Apply_Filter</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Event_Scenarios</name>
            <choiceReferences>EventScenariosChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Opportunity.Event_Scenarios__c</elementReference>
            </defaultValue>
            <fieldText>Event Scenarios</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_select_single_a_Venue_or_apply_a_filter</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Apply_Filter</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Venue_Type</name>
            <choiceReferences>VenueTypePicklist2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Venue Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_select_single_a_Venue_or_apply_a_filter</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Apply_Filter</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Event_Location</name>
            <choiceReferences>EventLocationPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Opportunity.Location_Requested__c</elementReference>
            </defaultValue>
            <fieldText>Event Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_select_single_a_Venue_or_apply_a_filter</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Apply_Filter</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Quality_Min1</name>
            <dataType>Number</dataType>
            <fieldText>Quality Min</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_select_single_a_Venue_or_apply_a_filter</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Apply_Filter</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Quality_Max1</name>
            <dataType>Number</dataType>
            <fieldText>Quality Max</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_select_single_a_Venue_or_apply_a_filter</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Apply_Filter</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Food_Option</name>
            <choiceReferences>Barbeque</choiceReferences>
            <choiceReferences>Canapes</choiceReferences>
            <choiceReferences>Finger_Food</choiceReferences>
            <choiceReferences>Sit_Down_Dinner</choiceReferences>
            <choiceReferences>Lunch</choiceReferences>
            <choiceReferences>Bowl_Food</choiceReferences>
            <choiceReferences>Buffet</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Food Option</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountAlreadyAdded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountResult</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>eventVenuesForCreation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event_Venues__c</objectType>
    </variables>
    <variables>
        <name>nEventVenue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event_Venues__c</objectType>
    </variables>
    <variables>
        <name>PotentialAccountLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedSingleVenue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedVenues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SelectedVenueTypeList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
